[defaults]
inventory = ./inventory
collections_paths = ~/.ansible/collections
roles_path = ./roles
stdout_callback = default
result_format = yaml
retry_files_enabled = false

[inventory]
enable_plugins = cloud.terraform.terraform_provider, host_list, yaml, ini
